html, body {
  display: block;
  margin:0 auto;
  padding:0;
  width:1000px;
  height:100%;
}

p {
	color: gray;
}


h1 {
	font-size: 55px;
	text-align: center;
}

a {
	text-decoration: none;
	color: gray;
}

.ui.grid {
	text-align: left;
}


div.ui.segment.raised {
  width: 470px;
}


.ui .segment {
	margin-left: 100px;
	color: gray;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
width: 244px;
margin-top: 25px;
font-size: 1rem;
}

.ui.segment {
position: relative;
background-color: #FFF;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
box-shadow: 0 0 0 1px rgba(0,0,0,.1);
margin: 1em 0;
padding: 1em;
border-radius: 2px;
}


.ui.button, .ui.buttons .button {
background-color: white;
color: #d9261c;
}

#message {
	height: 150px;
}

#message .placeholder


footer {
	display: block;
}

footer {
}

footer a:hover {
	color: #f17c72;
}

.copy {
	color: gray;
	padding-top: 29px;
	padding-bottom: 30px;
	font-size: 14px;
	line-height: 24px;
}