html, body {
  display: block;
  margin:0 auto;
  padding:0;
  width:1000px;
  height:100%;
}

#logo {
	width: 250px;
	height: 172px;
	margin-left: 320px;
	margin-bottom: -25px;
	margin-top: 40px;
}

p {
	color: gray;
}

.yellow {
	color: #ffe400;
}

.blue {
	color: #00c0ff;
}

.red {
	color: #d9261c;
}

.green {
	color: #00c0ff;
}



h1 {
	font-size: 55px;
	text-align: center;
}

a {
	text-decoration: none;
	color: gray;
}

.ui.grid {
	text-align: left;
}


div.ui.segment.raised {
  width: 470px;
}

#arrow {
	color: #d9261c;
}


h3 {
	color: #d9261c;
}


.ui .segment {
	margin-left: 100px;
	color: gray;
}

i.icon.heart:before {
content: "\f004";
color: #d9261c;
}

i.icon.mail:before  {
content: "\f0e0";
color: #d9261c;
}

i.icon.phone:before {
content: "\f095";
color: #d9261c;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
width: 244px;
margin-top: 25px;
font-size: 1rem;
}

.ui.segment {
position: relative;
background-color: #FFF;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
box-shadow: 0 0 0 1px rgba(0,0,0,.1);
margin: 1em 0;
padding: 1em;
border-radius: 2px;
}



.ui.menu .item {
position: relative;
display: inline-block;
padding: .83em .95em;
border-top: 0 solid transparent;
}

.ui.menu .item:hover {
border-color: #d9261c;
color: #d9261c;
}


.ui.button, .ui.buttons .button {
background-color: white;
color: #d9261c;
}

#message {
height: 205px;
width: 470px;
border: 1px solid rgba(0,0,0,.15);
border-radius: 5px;
}

#message .placeholder


footer {
	display: block;
}

footer {
}

footer a:hover {
	color: #d9261c;
}

.copy {
	color: gray;
	padding-top: 30px;
	padding-bottom: 100px;
	font-size: 14px;
	line-height: 24px;
}


















<!--// SLIDESHOW //-->
body{padding: 3em;background-color: #ccc;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}





.slideshow {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 500px;
}


img, .text-container {
  width: 1000px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.text-container {
  height: 500px;
  position: relative;
}


p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.slide {
  animation: slide 5s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.p {
  margin-top: 140px;
  text-align: center;
}



<!--// CALENDAR //-->


a {
	text-decoration: none;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	height: 538px;
	left: 50%;
	margin: -255px 0 0 -245px;
	position: absolute;
	top: 50%;
	width: 510px;
}

/* ---------- CALENDAR ---------- */



.calendar {
	text-align: center;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #d9261c;
}


.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #d9261c;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #d9261c;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}










/* Mobile */
@media screen and (min-width: 320px) {
	body {
      
  }

}

/* Tablet */
@media screen and (min-width: 768px) {
  body { 
  }
  
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {
         
    }

}